<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Inital Client Balance:</th>
      <th>Inital Broker Balance:</th>
      <th>Orders Placed by Client:</th>
      <th>Premiums Paid by Client:</th>
      <th>Claims Made by Client:</th>
      <th>Normalised Client Premiums:</th>
      <th>Normalized transfer:</th>
      <th>Final Client Balance:</th>
      <th>Final Broker Balance:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.00</td>
      <td>0.00</td>
      <td>797087.0</td>
      <td>184127.05</td>
      <td>1049.0</td>
      <td>0.231</td>
      <td>0.229684</td>
      <td>-183078.05</td>
      <td>183078.05</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-183078.05</td>
      <td>183078.05</td>
      <td>881366.0</td>
      <td>203595.49</td>
      <td>195943.0</td>
      <td>0.231</td>
      <td>0.008683</td>
      <td>-190730.54</td>
      <td>190730.54</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-190730.54</td>
      <td>190730.54</td>
      <td>536055.0</td>
      <td>123828.66</td>
      <td>335949.0</td>
      <td>0.231</td>
      <td>-0.395706</td>
      <td>21389.80</td>
      <td>-21389.80</td>
    </tr>
    <tr>
      <th>3</th>
      <td>21389.80</td>
      <td>-21389.80</td>
      <td>516975.0</td>
      <td>119421.16</td>
      <td>63222.0</td>
      <td>0.231</td>
      <td>0.108708</td>
      <td>-34809.36</td>
      <td>34809.36</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-34809.36</td>
      <td>34809.36</td>
      <td>482596.0</td>
      <td>111479.64</td>
      <td>0.0</td>
      <td>0.231</td>
      <td>0.231000</td>
      <td>-146289.00</td>
      <td>146289.00</td>
    </tr>
  </tbody>
</table>